body {
  margin: 0;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f5f5f5;
}

.login-container {
  width: 400px; 
  padding: 40px 50px 40px 50px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.login-header {
  display: flex;
  justify-content: center;

  font-size: 22px;
  margin-bottom: 30px;
}

.credentials-title {
  font-size: 14px;
  
  margin-top: 20px;
  margin-bottom: 10px;
}

.credentials-input {
  width: 100% ;
  border: 1px solid #E0E0E0;
  border-radius: 3px;

  padding: 8px 10px;
  box-sizing: border-box;
}

.login-footer {
  margin-top: 30px;
}

.login-button {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  background-color: black;
  color: white;
  font-size: 16px;
  border: none;
  border-radius: 5px;

  padding: 8px 15px;
  cursor: pointer;
}

.login-error-display {
  display: flex;
  justify-content: center;
  align-items: center;

  color: red;
  margin-top: 20px;
}

.hidden {
  display: none;
}